@media (max-width: 1500px) {
    .block-slide {
        background-size: 58.333%;

        .bg-split {
            background: $dark;
        }
    }

    .block-gas {
        background-size: contain;

        .bg-split {
            background: $dark;
        }
    }
}

@media (max-width: 1300px) {
    .navbar a.phone {
        display: none;
    }

    .block-slide {
        background-size: contain;

        p {
            position: relative;
            z-index: 10;
        }

        form {
            width: 130%;
        }
    }

    .bg-split:after {
        width: 270px;
        right: -268px;
    }


    .features {
        .feature {
            transform: scale(0.6) translateX(60%) translateY(-20px);
            opacity: .8;
        }
    }
}

@media (max-width: 1000px) {
    #header {
        .btn {
            position: fixed;
            bottom: 0;
            font-size: 20px !important;
            line-height: 50px !important;
            height: unset !important;
            padding: 0 25px !important;
            //left: 50%;
            //transform: translateX(-50%);
            box-shadow: 0 19px 38px 0 rgba(34, 36, 43, .3);
        }

        &.sticky {
            .btn {
                animation: slideb20 .5s forwards;
                bottom: 20px;
                white-space: nowrap;
            }
        }
    }

    .block-slide {
        form {
            width: 100%;
        }

        p {
            margin-right: 0;
        }
    }

    .features {
        .feature {
            align-items: center;

            p {
                text-align: center;
            }
        }
    }

    .block-slide, .block-gas, .block-crown, .block-rent {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(34, 34, 34, .9);
        }
    }

    .block-rent {
        &:before {
            background: rgba(235, 79, 64, .9) !important;
        }
    }

    .block-gas {
        &:before {
            background: rgba(34, 34, 34, .9) !important;
        }
    }

    .bg-split, .bg-split:after {
        background: none !important;
    }

    .bg-split:after {
        display: none;
    }

    .block-gas {
        &:before {
            background: rgba(255, 223, 57, .9);
        }
    }

    .block-income {
        width: 0;

        & > div {
            position: fixed;
            bottom: -110%;
            left: 0;
            width: 100%;
            background: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
            z-index: 10;
            border-top: 1px solid #ebebeb;
        }

        .income {
            font-size: 30px;

            b {
                font-size: 38px;
            }
        }

        p, .btn {
            font-size: 20px;
        }

        .comment {
            display: none;
        }
    }

    .block-calculator {
        &.sticky {
            & .block-income > div {
                animation: slideb .5s forwards;
                z-index: 21;

                p {
                    padding-top: 12px;
                }
            }
        }
    }

    .block-calculator h2 + p {
        white-space: normal;
    }

    .block-crown {
        &:before {
            background: rgba(255, 223, 57, .9);
        }
    }
}

@media (max-width: 769px) {
    .navbar-toggler {
        border: none;
        background: transparent;

        svg {
            height: 30px;
            fill: white;
            opacity: 0.9;
        }
    }

    .navbar-collapse {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 20;
        background: #222222;
        padding: 10px;

        li {
            float: left;
            width: 100%;
            text-align: right;
        }
    }

    .features {
        .feature {
            transform: scale(0.6) translateX(125px) translateY(-50px);

            &.slick-active + .feature:not(.slick-active) {
                transform: scale(0.6) translateX(-125px) translateY(-50px);
            }

            p {
                font-size: 18px;
            }
        }
    }

    .page-cities {
        .city {
            img {
                height: unset;
                width: 100%;
            }

            a {
                height: 220px;
            }

            h2 {
                font-size: 32px;
            }
        }
    }

    .block-connect {
        .h2 {
            font-size: 36px;
            margin-bottom: 5px;
        }

        input[type=text], .btn {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 600px) {
    h1, h2 {
        font-size: 33px;
    }

    .block-slide, .block-gas {
        background-size: cover;

        p {
            white-space: normal;
        }

        form {
            display: flex;
            justify-content: space-between;

            * {
                font-size: 18px;
            }

            input {
                width: 190px;
            }
        }
    }

    .block-slide {
        form {
            display: block;
            height: unset;

            .btn, input {
                margin: 0 0 10px;
                width: 100%;
            }
        }
    }

    .block-gas, .block-crown, .block-rent {
        background-position: center;

        h2 {
            font-size: 30px;
            margin-right: -15px;
            white-space: pre-wrap;
        }
    }

    .footer .numbers a {
        font-size: 26px;
        flex: 100%;
        max-width: 100%;
        text-align: left;
    }

    .range-labels {
        margin: 15px -31px 0;
    }

    .features {
        .feature {
            transform: scale(0.6) translateX(185px) translateY(-50px);

            &.slick-current.slick-active + .feature {
                transform: scale(0.6) translateX(-185px) translateY(-50px);
            }

            p {
                font-size: 14px;
            }
        }
    }

    .post-small {
        flex-wrap: wrap;
    }

    .page-car-tariff {
        .select2 {
            width: 100% !important;
            margin-bottom: 15px;
        }

        .result {
            h2 {
                font-size: 30px;
            }

            p {
                font-size: 24px;
            }

            .btn {
                width: 100%;
                text-align: center;
            }
        }
    }

    ._show_652.wrap_c3c {
        z-index: 20 !important;
    }
}

@media (max-width: 375px) {

    .block-income {
        p {
            font-size: 18px;
        }

        .btn {
            padding: 0 10px;
            font-size: 18px;
            line-height: 45px;
        }

        .income {
            b {
                font-size: 32px;
            }
        }
    }

    .features {
        justify-content: center;

        .feature {
            //width: 100%;
            //max-width: 100%;
            //flex: 100%;

            p {
                font-size: 18px;
            }
        }
    }

    .range-labels {
        margin: 15px -21px 0;
    }

    .modal-container .modal-background .modal .modal-title {
        font-size: 32px;
    }

    .footer {
        .list-unstyled {
            max-width: 100%;
            flex: 100%;
        }
    }

    .features {
        .feature {
            transform: scale(0.6) translateX(145px) translateY(-50px);

            &.slick-current.slick-active + .feature {
                transform: scale(0.6) translateX(-145px) translateY(-50px);
            }
        }
    }
}

@media (max-width: 321px) {
    .features {
        .feature {
            transform: scale(0.6) translateX(95px) translateY(-50px);

            &.slick-current.slick-active + .feature {
                transform: scale(0.6) translateX(-95px) translateY(-50px);
            }
        }
    }
}
