.bg {
    &-primary {
        background: $primary;
    }

    &-dark {
        background-color: $dark;
    }

    &-gray {
        background: $white;
    }

    &-split {
        &:after {
            background: linear-gradient(70deg, #222 52%, transparent 52.2%);
            content: '';
            position: absolute;
            top: 0;
            height: 100%;
            width: 200px;
            right: -198px;
        }
    }
}
