.btn {
    display: inline-block;
    padding: 0 14px;
    line-height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: $dark;
    font-weight: 500;
    transition: all .2s;

    &-primary {
        background: $primary;
        color: $dark !important;

        &:hover, &:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba(255, 223, 57, 0.3);
            background: darken($primary, 15);
        }
    }

    &-dark {
        background: $dark;
        color: white !important;

        &:hover, &:focus {
            outline: none;
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
            background: darken($dark, 15);
        }
    }
}
