* {
    outline: none;
}

body {
    font-size: 16px;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

h1, h2, h3, h4 {
    font-weight: 500;
}

h1 {
    font-size: 46px;
    margin-bottom: 20px;
    line-height: 1.2;
}

h2 {
    font-size: 40px;
    margin-bottom: 55px;
}

a {
    font-weight: 500;

    &, &:hover {
        color: $dark;
        text-decoration: none;
    }
}

b, strong {
    font-weight: 500;
}

.py-5 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.mb {
    &-15 {
        margin-bottom: 15px;
    }

    &-25 {
        margin-bottom: 30px;
    }
}

blockquote {
    font-size: 1.5em;
    padding-left: 20px;
    border-left: 8px solid $primary;

    span, em {
        font-size: 0.8em;
        display: inline-block;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: -20px;
    }
}
