@import "button";
@import "../elements/radio";

input {
    &[type=text] {
        font-size: 20px;
        padding: 0 14px;
        line-height: 48px;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, .5);
        background: transparent;
        font-weight: 500;
        transition: all .2s;

        &:focus {
            box-shadow: 0 0 0 4px darken($white, 70);
            border-color: rgba(255, 255, 255, .8);
        }
    }
}
