.fields-cropper-container {
    text-align: left;

    .cropper-preview {
        max-width: 200px !important;
    }
}

.table {
    img {
        max-width: 100px;
        max-height: 100px;
    }
}

.ql-editor {
    font-size: 20px;

    * {
        font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        color: #222;
    }

    p {
        margin-bottom: 30px;
        line-height: 1.7;
    }

    a {
        text-decoration: none !important;
        font-weight: 700;
        border-bottom: 3px solid #FFDF39;
    }

    blockquote {
        font-size: 1.5em;
        padding-left: 20px !important;
        border-left: 8px solid #FFDF39 !important;

        span, em {
            font-size: 0.8em;
            display: inline-block;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-left: -20px;
        }
    }
}
