.breadcrumbs {
    z-index: 10;
    position: absolute;
    left: 20px;
    top: 10px;

    a {
        opacity: .7;
        color: #fff;
        font-size: 14px;
        transition: all .2s;

        &:not(:last-child) {
            &:after {
                content: '/';
                opacity: .7;
                margin-left: 5px;
            }
        }

        &:hover {
            opacity: 1;
        }
    }
}
