.droplist {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        max-height: 51px;
        overflow: hidden;
        transition: all .7s;

        &.open, &:hover {
            svg {
                opacity: 1;
            }
        }
    }

    span {
        display: inline-block;
        font-size: 18px;
        line-height: 50px;
        width: 100%;
        border-bottom: 1.5px solid #E5E5E5;
        cursor: pointer;
        padding-right: 40px;
        position: relative;
    }

    p {
        padding: 15px;
        padding-right: 0;
        margin: 0;
        line-height: 1.9;
        white-space: pre-wrap;
    }

    svg {
        position: absolute;
        right: 0;
        top: 9px;
        transition: transform .5s;
        opacity: .7;
    }

    li.open {
        max-height: 750px;

        svg {
            transform: rotateZ(90deg);
        }
    }
}
