.modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);

    &.open {
        z-index: 1000;
        transform: scale(1);

        .modal-background {
            background: rgba(0, 0, 0, .7);

            .modal {
                animation: blowUpModal .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }

        + .content {
            z-index: 1;
            animation: blowUpContent .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
        }

        &.out {
            animation: fade-out .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;

            .modal-background {
                .modal {
                    animation: blowUpModalTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
            }

            + .content {
                animation: blowUpContentTwo .5s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
        }
    }

    .modal-background {
        display: table-cell;
        background: rgba(0, 0, 0, .8);
        text-align: center;
        vertical-align: middle;

        .modal {
            padding: 50px;
            display: inline-block;
            border-radius: 10px;
            position: relative;
            background: #FFDF39;
            color: $dark;

            .modal-title {
                font-size: 40px;
                font-weight: 500;
                margin-bottom: 0;
            }

            .modal-comment {
                font-size: 18px;
                line-height: 22px;
                margin-bottom: 20px;
            }

            svg {
                color: $dark;
                opacity: .6;
            }
        }
    }

    .close {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        display: inline-block;
        width: 32px;
        height: 32px;

        &:after, &:before {
            content: '';
            display: inline-block;
            width: 32px;
            height: 3px;
            border-radius: 5px;
            background: #9a9a9a;
            position: absolute;
            left: 0;
            top: 16px;
            transform: rotate(-45deg);
        }

        &:before {
            left: unset;
            right: 0;
            transform: rotate(45deg);
        }
    }
}

.content {
    min-height: 100%;
    height: 100%;
    background: white;
    position: relative;
    z-index: 0;

    h1 {
        padding: 75px 0 30px 0;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
    }

    .buttons {
        max-width: 800px;
        margin: 0 auto;
        padding: 0;
        text-align: center;

        .button {
            display: inline-block;
            text-align: center;
            padding: 10px 15px;
            margin: 10px;
            background: red;
            font-size: 18px;
            background-color: #efefef;
            border-radius: 3px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
            cursor: pointer;

            &:hover {
                color: white;
                background: #009bd5;
            }
        }
    }
}

.modal-form {
    .modal {
        background: #fff !important;
    }

    .modal-title {
        margin-bottom: 15px !important;
    }

    input {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        border-color: #C4C4C4;
    }

    .btn {
        width: 100%;
    }
}

@keyframes blowUpContent {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    99.9% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(0);
    }
}

@keyframes blowUpContentTwo {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes blowUpModal {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes blowUpModalTwo {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes fade-out {
    0% {
        display: block;
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
