.radio {
    span {
        display: inline-block;
        line-height: 40px;
        padding: 0 14px;
        border: 3px solid #C4C4C4;
        border-radius: 10px;
        margin-right: 15px;
        transition: all .2s;
        cursor: pointer;
        font-size: 18px;
    }

    input {
        width: 1px;
        position: absolute;
        opacity: 0.1;

        &:checked, &:hover {
            & + span {
                border-color: $primary;
            }
        }

        &:focus {
            & + span {
                box-shadow: 0 0 0 4px rgba(255, 223, 57, 0.3);
            }
        }
    }
}
