@mixin rangeThumb {
    width: 28px;
    height: 28px;
    margin: -14px 0 0;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    border: 1px solid #C4C4C4;
    transition: box-shadow .2s;

    &:hover {
        box-shadow: 0 0 0 4px rgba(196, 196, 196, .3);
    }
}

@mixin rangeTrack {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: #b2b2b2;
}

.range {
    position: relative;
    top: 44px;
    width: 100%;
    height: 4px;

    &-wrap {
        padding-bottom: 42px;
        margin-bottom: 30px;
        overflow: hidden;

        &.fl {
            .range {
                top: 24px;
            }

            .range-labels {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                display: flex;
                justify-content: space-between;

                li {
                    width: auto !important;
                    padding: 0 5px;
                }
            }
        }

        label {
            font-size: 18px;
            margin-bottom: 5px;
        }
    }
}

.range input {
    width: 100%;
    position: absolute;
    top: 2px;
    left: 0;
    height: 0;
    -webkit-appearance: none;

    // Thumb
    &::-webkit-slider-thumb {
        -webkit-appearance: none; // needed again for Chrome & Safari
        @include rangeThumb;
    }

    &::-moz-range-thumb {
        @include rangeThumb;
    }

    &::-ms-thumb {
        @include rangeThumb;
    }

    // Track
    &::-webkit-slider-runnable-track {
        @include rangeTrack;
    }

    &::-moz-range-track {
        @include rangeTrack;
    }

    &::-ms-track {
        @include rangeTrack;
    }

    &:focus { // override outline/background on focus
        background: none;
        outline: none;
    }

    &::-ms-track { // A little somethin' somethin' for IE
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }
}

// Labels below slider
.range-labels {
    margin: 15px -41px 0;
    padding: 0;
    list-style: none;

    li {
        position: relative;
        float: left;
        width: 90.25px;

        text-align: center;
        color: #AEAEAE;
        font-size: 16px;
        cursor: pointer;

        //&::before {
        //    position: absolute;
        //    top: -25px;
        //    right: 0;
        //    left: 0;
        //    content: "";
        //    margin: 0 auto;
        //    width: 9px;
        //    height: 9px;
        //    background: #b2b2b2;
        //    border-radius: 50%;
        //}
    }

    .active {
        color: #333;
    }

    .selected::before {
        background: $primary;
    }

    .active.selected::before {
        display: none;
    }
}
