.footer {
    * {
        color: white;
    }

    a {
        font-weight: 400;
        padding-bottom: 2px;
        border-bottom: 1.5px solid rgba(229, 229, 229, .4);
        transition: all .2s;

        &:hover {
            color: white;
            border-color: #fff;
        }
    }

    li {
        padding: 5px 0;
    }

    .numbers {
        a {
            display: block;
            border: none;
            text-align: right;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 4px;
        }
    }

    .copyright {
        color: #AEAEAE;
        text-align: center;
        margin-bottom: 0;
    }
}
