@keyframes slide {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}

@keyframes slideb {
    0% {
        bottom: -110%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes slideb20 {
    0% {
        bottom: -110%;
    }
    100% {
        bottom: 20px;
    }
}

.navbar {
    height: 50px;

    a {
        display: inline-block;
        font-weight: 400;
        color: rgba(255, 255, 255, .7);
        line-height: 50px;
        padding: 0 10px;
        transition: all .2s;

        &:hover {
            color: white;
        }

        &.phone {
            color: white;
            font-weight: 500 !important;
            font-size: 18px;
        }
    }

    .row {
        justify-content: space-between;
    }

    .navbar-brand {
        color: white;
        font-size: 22px;
        font-weight: 500;
    }
}

.navbar-nav {
    list-style: none;
    padding: 0;

    li {
        float: left;
    }
}

#header {
    .btn {
        font-size: 17px;
        padding: 0 15px;
        line-height: 40px;
        height: 40px;
        margin-top: 5px;
        font-weight: 500;
        display: none;
    }

    &.sticky {
        position: fixed !important;
        top: 0;
        z-index: 20;
        animation: slide .5s forwards;
        transition: all .4s;
        width: 100%;

        .btn {
            display: block;
        }

        .hd {
            display: none;
        }
    }
}
