.page-car-tariff {

    #car-tariff {
        min-height: 52px;
        opacity: 0;
        transition: all .2s;
    }

    &-calculator {
        .btn {
            margin-top: 20px;
        }
    }

    .select2 {
        width: 280px !important;
        margin-right: 15px;

        &.disabled + .select2 {
            pointer-events: none;
            opacity: .7;
        }
    }

    .select2-container--default .select2-selection--single {
        height: unset;
        border: 2px solid rgba(34, 34, 34, 0.7);
        border-radius: 10px;
        background: transparent;

        .select2-selection__rendered {
            height: 48px;
            font-size: 24px;
            font-weight: 500;
            padding: 10px 30px 10px 15px;
        }

        .select2-selection__arrow {
            transform: scale(1.5);
            right: 10px;
            top: 12px;

            b {
                border-color: rgba(34, 34, 34, 0.7) transparent transparent transparent;
            }
        }
    }

    h1 {
        margin-bottom: 25px;
        white-space: pre-wrap;
    }

    h2 {
        font-size: 28px;
        margin-top: 45px;
        margin-bottom: 5px;
    }

    table {
        td {
            font-size: 20px;
        }
    }

    .table-wrap {
        max-height: 200px;
        overflow: hidden;
        position: relative;

        &:last-child {
            margin-bottom: 50px;
        }

        &.opened {
            max-height: unset;

            .open {
                display: none;
            }
        }

        .open {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 60px;
            text-align: center;
            background: linear-gradient(0deg, white, transparent);
            cursor: pointer;

            .btn {
                font-size: 16px;
                margin-top: 7px;
            }
        }
    }

    .result {
        h2 {
            white-space: pre-wrap;
            font-size: 40px;
            line-height: 1.3;
            margin-bottom: 25px;
        }

        p {
            font-size: 28px;
        }
    }
}
