.page-cities {
    &-title {
        padding-top: 50px;

    }
}

.city {
    padding: 0;

    &:hover {
        img {
            transform: scale(1.05);
        }
    }

    a {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 360px;
        width: 100%;

        &:after {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: rgba(34, 34, 34, .6);
        }
    }

    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        height: 100%;
        object-fit: cover;
        transition: all 1s;
    }

    h2 {
        color: #fff;
        margin: 0;
        z-index: 10;
        font-size: 64px;
        position: absolute;
        left: 30px;
        bottom: 20px;
    }
}
