//.bg-img {
//    &-header {
//        background: linear-gradient(60deg, $dark 24.5%, transparent 24.6%), url('/img/header.jpg') no-repeat right top;
//        background-size: cover;
//    }
//}

.block-slide {
    background: url('/img/header.jpg') no-repeat right top;
    background-color: #222;
    background-size: 55%;

    * {
        color: white;
    }

    h1 {
        white-space: pre-wrap;
        position: relative;
        z-index: 10;
    }

    p {
        white-space: pre;
        margin-bottom: 25px;
        font-size: 20px;
        margin-right: -100px;
    }

    form {
        width: 110%;
        height: 52px;
        opacity: 0;
        transition: all 1s;
        position: relative;
        z-index: 10;

        .btn {
            margin-left: 10px;
        }
    }
}

.block-features {
    padding-bottom: 50px;

    h2 {
        text-align: center;
        margin-bottom: 70px;
    }
}

.features {
    .feature {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 0;
        padding-top: 10px;
        text-align: center;
        width: calc(100% - 65px);
        //opacity: .8;
        transition: transform .5s;
        //transform: scale(0.6) translateX(60%) translateY(-20px);

        &.slick-active {
            transform: scale(1);
            opacity: 1;
        }

        &.slick-active + .feature:not(.slick-active) {
            transform: scale(0.6) translateX(-60%) translateY(-20px);
        }

        p {
            white-space: pre-wrap;
        }
    }

    .icon {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        position: relative;

        &:before {
            content: '';
            display: inline-block;
            width: 90px;
            height: 90px;
            position: absolute;
            left: -8px;
            top: -8px;
            border-radius: 50%;
            background: $primary;
            z-index: -1;
        }

        img, svg {
            width: 90px;
            height: 90px;
            fill: #333;
        }
    }

    p {
        white-space: pre;
        //text-align: center;
        margin-top: 15px;
        font-size: 22px;
        line-height: 1.7;
    }

    &:not(.slick-initialized) {
        height: 205px;
        overflow: hidden;

        * {
            transition: all .5s;
            opacity: 0;
        }
    }
}

.block-calculator {
    h2 {
        margin-bottom: 5px;

        & + p {
            font-size: 20px;
            margin-bottom: 40px;
            white-space: pre;
        }
    }

    label {
        font-size: 18px;
    }
}

.block-income {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    p {
        font-size: 18px;
        margin: 0;
    }

    .income {
        font-size: 48px;
        line-height: 80px;

        b {
            font-size: 64px;
            font-weight: 500;
        }
    }

    .comment {
        font-size: 14px;
        color: #AEAEAE;
        margin-bottom: 20px;
    }

    .btn {
        font-size: 18px;
        padding: 0 25px;
        line-height: 50px;
    }
}

.block-gas, .block-crown, .block-rent {
    background: $dark url(/img/gas-2.jpg) no-repeat right bottom;
    background-size: 55%;
    //background-size: contain;

    * {
        color: white;
    }

    h2 {
        font-size: 46px;
        line-height: 1.3;
        white-space: pre-wrap;
        position: relative;
        z-index: 10;
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 25px;
        font-size: 20px;
        position: relative;
        z-index: 10;

        &:last-child {
            margin-bottom: 5px;
        }
    }

    .bg-split {
        &:after {
            background: linear-gradient(108deg, $dark 52%, transparent 52.2%);
        }
    }

    ul {
        padding-left: 10px;
        font-size: 21px;
        line-height: 40px;

        li {
            margin-bottom: 10px;
        }
    }
}

.block-gas {
    h2 {
        font-size: 36px;
    }
    .bg-split {
        background: $dark;
    }
}

.block-crown {
    background: $primary url(/img/crown.jpg) no-repeat right center;

    * {
        color: $dark;
    }

    h2 {
        white-space: pre;
    }

    .bg-split {
        background: $primary;

        &:after {
            background: linear-gradient(103deg, $primary 52%, transparent 52.2%);
        }
    }
}

.block-rent {
    background: $red url(/img/rent-2.jpg) no-repeat left center;

    * {
        color: white;
    }

    .bg-split {
        background: $red;

        &:after {
            left: -198px;
            right: unset;
            background: linear-gradient(-77deg, $red 52%, transparent 52.2%);
        }
    }
}

.block-questions {
    h2 {
        margin-bottom: 30px;
    }
}
