.block-connect {
    .h2 {
        font-size: 40px;
        font-weight: 500;
        margin-bottom: 0;
    }

    .description {
        font-size: 20px;
        margin-bottom: 30px;
    }

    input[type=text] {
        border-color: rgba(34, 34, 34, .7);
        margin-right: 15px;

        &::placeholder {
            font-weight: 400;
            color: rgba(34, 34, 34, .7);
        }

        &:focus {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.3);
        }
    }
}
