.post-small {
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: $box-shadow;
    font-weight: 400;

    .post-image {
        display: flex;
        padding: 0;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .post-content {
        padding: 20px 30px;
    }

    .post-title {
        font-size: 24px;
        font-weight: 500;
    }

    .post-body {
        margin-bottom: 0;
    }

    .read-more {
        font-weight: 500;
        float: right;
        margin-top: 15px;
        border-bottom: 2px solid rgba(0, 0, 0, .4);
    }
}

.post-related {
    @extend .post-small;
    margin-left: 0;
    margin-right: 0;
    position: relative;

    &:hover {
        .post-content {
            &:before {
                background: rgba(0, 0, 0, .4);
            }
        }
    }

    img {
        position: absolute;
    }

    .post-content {
        height: 200px;
        z-index: 10;
        color: white;

        &:before {
            content: '';
            z-index: 9;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, .2);
            transition: all .2s;
        }

        * {
            position: relative;
            z-index: 10;
            text-shadow: 2px 2px rgba(0, 0, 0, .55);
        }
    }

    .post-title {
        font-weight: 500;
        font-size: 30px;
    }

    .read-more {
        position: absolute;
        right: 30px;
        bottom: 15px;
        border-bottom: 2px solid rgba(255, 255, 255, .4);
    }
}

.post-full {
    &-image {
        background-position: right center !important;
        background-repeat: no-repeat !important;
        background-color: $dark !important;

        h1 {
            white-space: pre;
        }

        .bg-split {
            background: $dark;
        }

        .date {
            position: absolute;
            bottom: 30px;
            font-size: 14px;
            font-weight: 500;
            opacity: .7;
            margin-bottom: 0;
        }
    }

    .post-body {
        font-size: 20px;
        line-height: 1.7;

        p {
            margin-bottom: 30px;
        }

        a {
            border-bottom: 3px solid $primary;
            transition: all .2s;

            &:hover {
                border-color: #222;
            }
        }
    }
}
